<div class="container margin-top85-bottom10">
<h1 class="text-center">Editing Service</h1>

<%= render 'form', service: @service %>

<%= link_to 'Show', @service %> |
<%= link_to 'Back', services_path %>
</div>