

	<div class="container margin-top85-bottom10">

		<section class="panel panel-default">
			<div class="panel-heading"> 
				<h3 class="panel-title"><%= @quiz.name %></h3> 
			</div> 
			<div class="panel-body">

				<div class="container">
					<% if current_user.admin? %>
					<%= render 'admin_show' %>
					<% else %>
					<%= render 'takeQuiz' %>
					<% end %>
				</div><!-- panel-body // -->
			</section><!-- panel// -->
		</div> <!-- container// -->
