  <div class="dss-services-block margin-top85-bottom10">

  	<div class="container ">
  		<% @blog_version.each do |blog_version| %>
  			<%= raw blog_version.object %>
  		<% end %>
  		<div class="row">
  		</div>
  	</div>
  </div>