
<div class="users margin-top85-bottom10">
	<%= render :partial => 'blogs/users_show', :locals => { :users => @users }%>
</div>
<script type="text/javascript">
	<% unless @users.next_page %>
    // $('a.load-more-posts').remove();
    <% end %>

    $( ".button-load-more" ).click(function() {
    	console.log( this.id );
    	$('.button-load-more').hide()
    	$('.loding-blogs').show();

    });
</script>