<div class="container margin-top85-bottom10">
	<h1>About ShadBox</h1>
<!-- <p>Quiz App has several quizzes based on different things. Create an account and take any quiz how many ever times
You can also participate on Paid Quiz and earn money</p><br>

-->
<p style="font-size: 18px;">Nowadays every one wants to Earn money online  without <strong>investment</strong>.
	student wants Extra Pocket money.
	<br>
	Shadbox Solve this problem by launcing this platform.
</p>

<h2>What is ShadBox</h2>
<p style="font-size: 18px;">
	shadbox is platform where you can <strong>monitize your blogging passion</strong>. write unique and attractive content on shadbox and reach more peaple.
</p>

<h3>Steps to Monitize:</h3>
<p style="font-size: 18px;">
	1: Login to shadbox.com <br>
	2: Click on blogs <br>
	3: Click on "Add New" <br>
	4: Start writting Blog (minimum 600 words)<br>
	5: Complete your blog an click on create blog <br>
	6: Wait for approvel <br>

	After your blog Approved by Admin. your blog publish on shadbox. <br>
</p>
<h3>About Earning </h3>
<p style="font-size: 18px;">
	the first offer valid for till 15 August 2021: <br>
	2000 views on single blog = 500/- INR (rupees)
	only for indians
</p>

</div>